@model MyStoreProject.Models.HangHoa

@{
    ViewData["Title"] = "Detail";
}

<div class="single-top-main">
    <div class="col-md-5 single-top">
        <div class="single-w3agile">
            <div id="picture-frame">
                <img src="~/Hinh/HangHoa/@Model.Hinh" data-src="images/si-1.jpg" alt="" class="img-responsive" />
            </div>
            <script src="~/js/jquery.zoomtoo.js"></script>
            <script>
                $(function () {
                    $("#picture-frame").zoomToo({
                        magnify: 1
                    });
                });
            </script>
        </div>
    </div>
    <div class="col-md-7 single-top-left ">
        <div class="single-right">
            <h3>@Model.TenHH</h3>
            <div class="pr-single">
                <p class="reduced ">
                    @if (Model.GiamGia > 0)
                    {
                        <del>@Model.DonGia.ToString("#,##0") đ</del>
                    }
                    @((Model.DonGia * (1 - Model.GiamGia)).ToString("#,##0")) đ
                </p>
            </div>
            <div class="block block-w3">
                <div class="starbox small ghosting"> </div>
            </div>


            <ul class="social-top">
                <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
            </ul>
            <div class="add add-3">
                <a class="btn btn-danger my-cart-btn my-cart-b" asp-route-maHh="@Model.MaHh" asp-controller="Cart" asp-action="AddToCart">Đặt mua</a>
            </div>
            <div class="clearfix"> </div>
            <p class="in-pa">@Model.ChiTiet</p>
        </div>


    </div>
    <div class="clearfix"> </div>
</div>